/*
	custom.css — custom styles for Cutline that YOU define
	------------------------------------------------------
	
	This stylesheet will allow you to futureproof your
	changes against future releases and upgrades. I know
	you work hard on your modified styles, and I don't
	want you to feel like every upgrade is a total drag!
	
	Instructions:
	
	Modifying existing Cutline styles to your liking is a
	breeze with this handy stylesheet. The <body> tag
	within the header.php file has been appended with a
	CSS class called "custom," and thanks to this, you now
	have the ability to override ANY style that's declared
	in the original Cutline stylesheet.
	
	In practice, you simply need to copy the CSS for the
	element that you want to change (from style.css) and
	then paste it here. Prefix the new CSS declaration
	with .custom, and then make your tweaks as necessary.
	
	Here's an example:
	
	To change the default color of unvisited links from 
	blue to red (#c00) and remove the default underline, 
	this is what you would do:
	
	.custom a { color: #c00; text-decoration: none; }
	
	Cool? Now get to hackin!
*/

body.custom { font: 62.5% Arial,Helvetica,sans-serif; }

/*---:[ headlines ]:---*/

.custom h2 a:visited { color: #000; text-decoration: none; }

.custom h3 { font-size: 1.1em; text-transform: uppercase; }

        .custom .entry h3 { margin: 1.5em 0 0.5em 0; clear: both; }

/*---:[ content styles ]:---*/

.custom .entry, .custom .comment .reply { font-size: 1.3em; }

/*---:[ vimeo ]:---*/

.vimeo {
	text-align: center;
}

/*---:[ table styling ]:---*/

.custom .entry table {
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  margin: 0 0 1em;
}

.custom .entry table th, .entry table td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  padding: 4px;
}

.custom .entry table td {
  font-size: 0.9em;
}

/*---:[ content styles ]:---*/

.custom .entry p { margin: 0 0 1em 0; }

        .custom .entry p strong { color: #444; }

.custom .entry pre { background-color: #f0f0f0; border: 1px dotted #a0a0a0; color: #0000bb; font-size: 0.9em; font-family: Courier, monospace; line-height: 1.4em; margin: 0 0 1em; padding: 5px; }

.custom .archives .entry ul { list-style: none outside none; margin: 0 0 1.5em 0; }

        .custom .archives .entry ul li { margin: 0; padding: 5px 0; border-bottom: 1px solid #EEEEEE; }

                .custom .archives .entry ul a { text-decoration: none; }
                
                .custom .archives .entry ul li span { float: right; color: #888888; }

/*---:[ image styles ]:---*/

.custom .entry img, .entry .gallery img { border: 0px; }

.custom .entry img.center, .entry img.aligncenter { padding: 0px; }

/*---:[ sidebar banner ]:---*/

.custom li.widget div.banner { border-top: 3px solid #000; }